
:root{
    --text-nav-header-color : #82695A;
    --text-header-color : #CF9D5B;
    --text-normal-color : #ABB14C;
    --brown-color : #5d3c31;
    --white-color : #fff;
    --navbar-header-height : 34px;
    --header-height : 339px;
    --category-header-height : 80px;
    --header-with-logo-height : calc(var(--header-height) - var(--category-header-height) - var(--navbar-header-height))
}