@import 'variable';

*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    
}

body{
    background-image: url(https://livedemo00.template-help.com/zencart_40176/includes/templates/theme657/images/body-bg.jpg);
    .web {
        background: url(https://livedemo00.template-help.com/zencart_40176/includes/templates/theme657/images/shine.png)  no-repeat center 0;
        .header{
            height: var(--header-height);
            .header__navbar{
                display: flex;
                justify-content: center;
                padding-top: 65px;
                .nav-icon{
                    color: var(--text-nav-header-color)
                }
                .header__nav__list{
                    height: var(--navbar-header-height);
                    margin: 0;
                    list-style: none;
                    .header__nav__item{
                        display: inline-block;
                        font-size: 1.6rem;
                        padding: 0 9px;
                        .nav__time__link{
                            color: var(--text-nav-header-color);
                            &:hover{
                                text-decoration: none;
                                color: var(--white-color);
                            }
                        }
                    }
                }
            }
            .header-with-logo {
                width: 100%;
                .header__login{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .header__login-link {
                        font-size: 1.6rem;
                        font-weight:500;
                        color: var(--text-nav-header-color);
                        &:hover{
                            text-decoration: none;
                            color: var(--white-color);
                        }
                    }
                    
                }
                .header__logo{
                    .header__logo-link-img{
                        width: 396px;
                    }

                    
                }
                .header__cart {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            .header__nav-below{
                background: url(https://livedemo00.template-help.com/zencart_40176/includes/templates/theme657/images/bg_nav.png) no-repeat 0 0; 
                height: 70px;
                width: 80%;
                margin: auto;
                border-radius: 7px;
                z-index: 1;
                .header__nav-list{
                    display: flex;
                    width: 75%;
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    .header__nav-item{
                        padding: 15px 15px;
                        cursor: pointer;
                        .header__nav-item-link{
                            text-decoration: none;
                            color: var(--text-header-color);
                            font-size: 1.6rem;
                            font-weight: 600;
                            &:hover{
                                color: var(--white-color);
                            }
                        }
                    }
                }
                .search__form{
                    .search__form-input{
                        height: 40px; 
                        border: none;
                        background-color: #0f0b09;
                        font-size:1.4rem;
                        &:focus{
                            box-shadow: inset 0 0 0 1px var(--text-header-color);
                        }
                    }
                    
                }
            }
            
        }
        .web__banner{
            background: url(https://livedemo00.template-help.com/zencart_40176/includes/templates/theme657/images/banners_block.png) no-repeat 0 0; 
                
        }
    }
}
