@import "variable";

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url(https://livedemo00.template-help.com/zencart_40176/includes/templates/theme657/images/body-bg.jpg);
    // background-size: cover;
    // background-position: center;
    .web {
        background: url(https://livedemo00.template-help.com/zencart_40176/includes/templates/theme657/images/shine.png) no-repeat center 0;
        background-size: cover;
        background-position: center;
        .header {
            height: var(--header-height);
            .header__navbar {
                display: flex;
                justify-content: center;
                padding-top: 65px;
                .nav-icon {
                    color: var(--text-nav-header-color);
                }
                .header__nav__list {
                    height: var(--navbar-header-height);
                    margin: 0;
                    list-style: none;
                    .header__nav__item {
                        display: inline-block;
                        font-size: 1.6rem;
                        padding: 0 9px;
                        .nav__time__link {
                            color: var(--text-nav-header-color);
                            &:hover {
                                text-decoration: none;
                                color: var(--white-color);
                            }
                        }
                    }
                }
            }
            .header-with-logo {
                width: 100%;
                .header__login {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .header__login-link {
                        font-size: 1.6rem;
                        font-weight: 500;
                        color: var(--text-nav-header-color);
                        &:hover {
                            text-decoration: none;
                            color: var(--white-color);
                        }
                    }
                }
                .header__logo {
                    .header__logo-link-img {
                        width: 396px;
                    }
                }
                .header__cart {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            .header__nav-below {
                background: url(https://livedemo00.template-help.com/zencart_40176/includes/templates/theme657/images/bg_nav.png) no-repeat 0 0;
                background-size: cover;
                background-position: center;
                height: 70px;
                width: 100%;
                margin: auto;
                border-radius: 7px;
                z-index: 1;
                .header__nav-list {
                    display: flex;
                    width: 75%;
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    .header__nav-item {
                        padding: 15px 15px;
                        cursor: pointer;
                        .header__nav-item-link {
                            text-decoration: none;
                            color: var(--text-header-color);
                            font-size: 1.6rem;
                            font-weight: 600;
                            &:hover {
                                color: var(--white-color);
                            }
                        }
                    }
                }
                .search__form {
                    .search__form-input {
                        height: 40px;
                        border: none;
                        background-color: #0f0b09;
                        font-size: 1.4rem;
                        &:focus {
                            box-shadow: inset 0 0 0 1px var(--text-header-color);
                        }
                    }
                }
            }
        }
        .web__banner {
            background: url(https://livedemo00.template-help.com/zencart_40176/includes/templates/theme657/images/banners_block.png) no-repeat 0 0;
            background-size: cover;
            background-position: center;
            .left-web__banner {
                padding :20px;  
            }
            .right-web__banner{
                padding :20px;  
                .right__banner-list {
                    list-style: none;
                    padding: 0;
                }

            }
        }
        .home__product {
            margin-top: 30px;
            background-color: #f5f5f5;
            // height: 100px;
            border-radius: 5px;
            .home__product-header {
                padding: 20px;
                color: var(--brown-color);
                font-weight: 500;
            }
            .card {
                padding: 10px 10px;
                transition: transform linear 0.1s;
                will-change: transform;
                border-radius: 2px;
                box-shadow: 0 0.1rem 0.2rem 0 rgb(0 0 0 / 10%);
              
                &:hover {
                    transform: translateY(-3px);
                    cursor: pointer;
                }
                .card__desc {
                    background: url(https://livedemo00.template-help.com/zencart_40176/includes/templates/theme657/images/pr_name.png) no-repeat 0 0;
                    padding-top: 32px;
                    .card__desc-link {
                        font-size: 1.4rem;
                        font-weight: 400;
                        color: var(--brown-color);
                        padding: 0 2px;
                        line-height: 1.8rem;
                        height: 3.6rem;
                        margin: 10px 10px 6px;
                        overflow: hidden;
                        display: block;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                    }
                    .card__wrapper {
                        padding-top: 10px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .card__wrapper-price {
                            font-size: 2.6rem;
                            color: var(--text-header-color);
                        }
                        a {
                            text-decoration: none;
                            // font-weight: 500;
                            // font-size: 1.6rem;

                            .card__details {
                                background-color: var(--brown-color);
                                color: var(--white-color);
                                font-size: 0.85rem;
                                line-height: 2.2;
                                font-weight: 600;

                                &:hover {
                                    color: var(--text-header-color);
                                }
                            }
                        }
                    }
                }
            }
        }
        .footer {
            background: url("https://livedemo00.template-help.com/zencart_40176/includes/templates/theme657/images/footer_block.png") no-repeat;
            background-size: cover;
            background-position: center;
            margin-top: 30px;
            .footer__list{
                list-style: none;
                padding: 12px 0 11px 20px;
                .footer__item{
                    padding: 5px;
                    .footer__item-link{
                        font-size:1.4rem;
                        font-weight: 500;
                        color: var(--text-nav-header-color);
                        &:hover{
                        color: var(--white-color);

                        }
                    }
                }
            }
        }
        .copy__right{
            padding: 10px 0;
            font-size:1.5rem;
            color: var(--text-nav-header-color)
        }
    }
}
